* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1a2a33;
}
.grid {
  gap: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.box {
  width: 140px;
  height: 140px;
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
}
.container {
  display: block;
  position: relative;
  padding-left: 140px;
  margin-bottom: 140px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  height: 133.5px;
  width: 138px;
  background-color: #1f3641;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  content: url(../images/x.png);
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* dark/light mode  */


input[id="mode"] {
  display: none;
}

label[for="mode"] {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  color: #f2f2f2;
  cursor: pointer;
  width: 60px;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 1px;
  transition: all 1s ease-in;
}

label[for="mode"] > div {
  width: 30px;
  height: 30px;
  background-color: #10212a;
  border-radius: 50%;
  transition: all 1s;
}

input[id="mode"]:checked + label {
  background-color: #10212a;
}

input[id="mode"]:checked + label > div {
  background-color: #f2f2f2;
  transform: translateX(30px);
}

input[id="mode"]:checked ~ .wrapper {
  --body-bg: #f2f2f2;
  --main-text-color: #1f3641;
}